.profileTest{
  @media only screen and (max-width: 600px) {
  .cardTemp__body{
    height:500px;
    overflow:scroll;
  }
}
  &__form{
    margin-top:2rem;
    &--section{
      // padding: 0 4rem;
      @include flex;
      flex-direction: column;
      padding: 0 10%;
    }
    .contact__section, .demographics__section{
      @include flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      flex-direction: row;
      @media only screen and (max-width: 600px) {
        flex-direction: column;
      }
    }
    .group{ 
      position:relative; 
      margin-bottom:45px;
      margin-right:2%;
      &__email{
        width:100%;
      }
    }
    
    .group__email{
      pointer-events: none;
      // & input[name="email"]:disabled {
      //   background: red;
      // }
    } 
    input{
      color: cc(txt);
      font-size: 1.1rem;
        padding: 10px 10px 10px 5px;
        display: block;
        width:100%;
        min-width: 200px;
        border: none;
        border-bottom: 1px solid cc(border, .75);
        // border-radius: 5px;

        &:focus{
          outline:none;
        }
        &:focus ~ label, &:valid ~ label{
          top:-20px;
        font-size:14px;
        color:#5264AE;
        }
      &:focus ~ .bar:before, &:focus ~ .bar:after {
        width:50%;
      }
    }
    label {
      color:#999; 
      font-size:18px;
      font-weight:normal;
      position:absolute;
      pointer-events:none;
      left:5px;
      top:10px;
      transition:0.2s ease all; 
      -moz-transition:0.2s ease all; 
      -webkit-transition:0.2s ease all;
    }
    .bar{ 
      position:relative; 
      display:block; 
      width: 100%;
      min-width: 200px;

      &:before, &:after{
        content:'';
        height:2px; 
        width:0;
        bottom:1px; 
        position:absolute;
        background:#5264AE; 
        transition:0.2s ease all; 
        -moz-transition:0.2s ease all; 
        -webkit-transition:0.2s ease all;
      }
      &:before {
        left:50%;
      }
      &:after {
        right:50%; 
      }
    }
    .highlight {
      position:absolute;
      height:60%; 
      width:100%; 
      top:25%; 
      left:0;
      pointer-events:none;
      opacity:0.5;
    }
    /* active state */
			input:focus ~ .highlight {
			  -webkit-animation:inputHighlighter 0.3s ease;
			  -moz-animation:inputHighlighter 0.3s ease;
			  animation:inputHighlighter 0.3s ease;
			}
			input:focus ~ .highlightHand {
			  -webkit-animation:inputHighlighter 0.3s ease;
			  -moz-animation:inputHighlighter 0.3s ease;
			  animation:inputHighlighter 0.3s ease;
			}
			.dropDown-enter-active, .dropDown-leave-active {
			  transition: all 0.5s ease;
			}
			.dropDown-enter, .dropDown-leave-to {
			  height: 0;
			 
			}
			/* ANIMATIONS ================ */
			@-webkit-keyframes inputHighlighter {
				from { background:#5264AE; }
			  to 	{ width:0; background:transparent; }
			}
			@-moz-keyframes inputHighlighter {
				from { background:#5264AE; }
			  to 	{ width:0; background:transparent; }
			}
			@keyframes inputHighlighter {
				from { background:#5264AE; }
			  to 	{ width:0; background:transparent; }
      }
      .down-icon{
				position: absolute;
			    z-index: 2;
			    top: 14px;
			    right: 15px;
			}
			.down-icon i{
				font-size: 1.5em;
			    color: rgba(76, 78, 77, 0.55);
			}
			.dropDown {
				ul{
					background: cc(bg);
					@include popupBoxShadow;
					display: block;
					list-style: none;
					margin-top: 2px;
					overflow: scroll;
					padding: 0 1px;
					position: absolute;
					height: auto;
					max-height:200px;
					width: 100%;
					z-index: 2;

					li {
						position: relative;
						min-height: 32px;
					  	padding: 8px 4px;
					  	overflow: hidden;

					  	&:hover{
					  		@include hover;
					  	}
					}
				}	
			}
  }
}