// colors
$ghost-white: #fcfdff;
$go-to-gray: #eeeeee;
$light-gray-blue: #dae4eb;
$dark-gray-blue: #58585b;
$smoky-black: #4c4e4d;
$ms-dark-blue:#003399;
$ms-light-blue: #33CCFF;
$ms-border-blue: #73abec;
$ms-success: #41E1B5;
$ms-warning: #FFB94A;
$ms-error: #FF806F;

// cc map
$colors:(
  default:(
    bg: $ghost-white,
    txt: $smoky-black,
    primary: $ms-dark-blue,
    secondary: $ms-light-blue,
    border: $light-gray-blue,
    card: $ms-border-blue,
    shadow: $smoky-black,
    overlay: $dark-gray-blue,
    selection: rgba($dark-gray-blue, .33),
    btn: $ms-border-blue,
    success: $ms-success,
    warning: $ms-warning,
    error: $ms-error
  ),

  alt:(
    txt: $dark-gray-blue,
    bg: $go-to-gray,
    border: $dark-gray-blue
  ),

  inv:(
    txt: $ghost-white
  )
);
